 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 
 }
 :root{
    --color-primary:#2563eb;
    --color-text:#0f172a;
    --color-bg:#008000;
 }
 body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:  #e5e7eb;
    color: var(--color-text);
 }
 header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    padding: 20px 0;
    margin: auto;
 }
 nav ul{
    gap: 15px;
    list-style:none;
    display: flex;
 }
 nav a:hover{
    color:var(--color-primary);
    text-decoration: underline;
 }
   
.Profile {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    padding: 40px;
    background: var(--card-bg);  
    border-radius: 12px;
}
.Profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;  
    object-fit: cover; 
    border: 4px solid var(--accent-color);  
    margin-bottom: 20px;
    
}
.Profile img:hover {
    transform: scale(1.25);  
}
.btn{
     background-color: var(--color-bg);
    padding: 10px;
    display: inline-block;
    border-radius: 8px;
    color:gray;
}
.btn:hover{
    transform: translateX(-1px);
}
h1{
    font: size 2.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: var(--color-primary);
}
h2{
    font:1.8rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
h3{
    font:1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
p,li{
    font: 1rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}
 
section {
    padding: 40px 20px;     
    margin-bottom: 40px;     
    background: var(--card-bg);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}


main {
    max-width: 800px;       
    margin: 0 auto;          
}

 
 

