*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #7E6B8F;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.6vmin;
    
}
.box{
    height: 18vmin;
    width: 18vmin; 
    border-radius: 2rem;
    border: none;
    box-shadow: 0 0 16px rgb(0,0,0,0.9);
    font-size: 10vmin;
    color: #A3D9FF;
    background-color: #CC998D;
}
.reset{
    padding: .9rem;
    background-color:#153B50;
    color: white;
    border: none;
    border-radius: 1rem;;
    font-size: 2rem;
}
#newgame{
    padding: .9rem;
    background-color:#153B50;
    color: white;
    border: none;
    border-radius: 1rem;;
    font-size: 2rem;
      
}
#msg{
    color:#ffffc7;
    font-size: 8vmin;
}
.container_message{
    height: 80vmin;
    
}
.hide{
    display: none;
}